doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
    include includes/header
    body
        a(href="/create") Add
        ul
            each post in posts
                li
                    h2 #{post.title}
                    p #{post.body}
    include includes/footer