doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        a(href="/create") Add
        ul
            each post in posts
                li
                    h2 #{post.title}
                    p #{post.body}
        include includes/footer